<div class="row">
    <div class="col-3">
        @if (div1Visible == true) {
            <div class="bg-success p-3">
                div1
            </div>
        }
    </div>

    <div class="col-3">
        @if (isChecked == true) {
            <div class="bg-primary p-3">
                checkbox is checked
            </div>
        } @else {
            <div class="bg-danger p-3">
                checkbox is unchecked
            </div>
        }
    </div>

    <div class="col-3">
        @switch (dayName) {
            @case ('mon') {
                <span>Monday</span>
        } @case ('tue') {
            <span>Tuesday</span>
        } @case ('wed') {
            <span>Wednesday</span>
        } @case ('thu') {
            <span>Thursday</span>
        } @case ('fri') {
            <span>Friday</span>
        } @case ('sat') {
            <span>Saturday</span>
        } @case ('sun') {
            <span>Sunday</span>
        } @default {
            <span>Invalid day</span>
        }
        }
    </div>
</div>

<div class="row pt-4">
    <div class="col-3">
        <button class="btn btn-success" (click)="hideAndShowDiv1(true)">show</button>
        <button class="btn btn-danger" (click)="hideAndShowDiv1(false)">hide</button>
    </div>
    <div class="col-3">
        <input type="checkbox" name="" id="" [(ngModel)]="isChecked">
    </div>
    <div class="col-3">
        <input type="text" [(ngModel)]="dayName" maxlength="3" placeholder="Enter day starting">
    </div>
</div>

<div class="row">
    <div class="col-3">
        <select name="" id="">
            @for (city of cityLists; track $index) {
                <option>{{city}}</option>
            }
        </select>
    </div>

    <div class="col-3">
        @for (city of cityLists; track $index) {
            <button class="btn btn-success">{{city}}</button>
        }
    </div>
</div>

<div class="row">
    <div class="col-3">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>City</th>
                </tr>
            </thead>
            <tbody>
                @for (person of employeeList; track $index) {
                    <tr>
                        <td>{{person.name}}</td>
                        <td>{{person.age}}</td>
                        <td>{{person.city}}</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>