<div class="row">
    <div class="col-3">
        @if (div1Visible == true) {
            <div class="bg-success p-3">
                div1
            </div>
        }
    </div>

    <div class="col-3">
        <div class="bg-primary p-3">
            div2
        </div>
    </div>
</div>

<div class="row pt-4">
    <div class="col-3">
        <button class="btn btn-success" (click)="hideAndShowDiv1(true)">show</button>
        <button class="btn btn-danger" (click)="hideAndShowDiv1(false)">hide</button>
    </div>
    <div class="col-3">

    </div>
</div>