<div class="row">
    <!-- Interpolation -->
    <div class="col-6">
        1. Interpolation
        <p>firstName: {{firstName}}</p>

        <div>
            rollNo: {{rollNo}}
        </div>

        <span>isActive: {{isActive}}</span>
    </div>

    <!-- property Binding -->
    <div class="col-6">
        2. Property binding
        <br>
        <input placeholder="First Name" id="firstNameInput" type="text" [value]="firstName">
        <br>
        <input type="text" [placeholder]="myPlaceholder">
        <div [class]="div1ClassName" style="width: 100px; height: 100px;">

        </div>
    </div>
</div>

<!-- Event Binding -->
<div class="row">
    <div class="col-3">
        3. Event Binding
        <button class="btn btn-success" (click)="showWelcomeMessage()">
            Show Welcome Message
        </button>
    </div>
    <div class="col-3">
        <select (change)="onCityChange()">
            <option value="Pune">Pune</option>
            <option value="Nagur">Nagur</option>
            <option value="Mumbai">Mumbai</option>
            <option value="Panji">Panji</option>
        </select>
    </div>
</div>

<!-- Two way binding -->
<div class="row">
    <div class="col-3">
        <label for="firstNameInput">First Name:</label>
        <input type="text" id="firstNameInput" [(ngModel)]="firstName">
    </div>

    <div class="col-3">
        <select [(ngModel)]="selectedCity">
            <option value="Pune">Pune</option>
            <option value="Nagur">Nagur</option>
            <option value="Mumbai">Mumbai</option>
            <option value="Panji">Panji</option>
        </select>
        - {{selectedCity}}
    </div>
</div>